* { margin: 0; font-family: 'Roboto', sans-serif;}

html, body {
    height: 100%;
}



.main-container {
    height: 100%;
}

.wrapper {
    display: flex;
    height: 100%;

}

.left {
    flex: 1.25;
    background-color: black;
    color: white;
    height: 100%;
    width: 220px;
    position: fixed;
    z-index: 1;
}

.logo {
    font-size: 25px;
    padding: 35px 20px;
    margin-left: 20px;
}

.left .nav {
    padding: 35px 20px;
    margin-left: -20px;
}

.nav ul li{
    list-style: none;
    padding: 15px 0px;
}

.nav > .socials {
    padding-top:100px;
    padding-bottom: 20px;
}

.nav > .socials li{
    list-style: none;
    padding: 15px 0px;
}


.right {
    flex: 6;
    margin-left: 220px;
}

.right > .content-wrapper {
    display: flex;
    align-items: center;
    margin: 40px auto;
    padding: 40px;
    justify-content: center;
}

.content {
    justify-content: center;
    margin-top: 30px;
}
.content > p {
    font-size:65px;
    line-height: 60px;
}


.content > h3 {
    margin-bottom: 25px;
    margin-top:15px;
    font-size: 25px;
}
.content > .box {
    background-color: black;
    color: white;
    padding: 10px 15px;
    margin-right: 60px;
    font-size: 15px;
}

.content > .contact-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:30px;
    padding: 10px 0px;
}

.num {
    margin-right: 10px;
}

.mail {
    margin: 0px 5px;
}


.content-image {
    padding: 0px 10px;

}

.right > .about > .about-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 60px auto;
    padding: 20px 35px;
}

.about > .about-wrapper > .profile {
    flex: 1;
    padding-left: 10px;
}

.profile > h4{
    margin-bottom: 10px;
    margin-left: 50px;
}

.profile > h1 {
    margin-left: 50px;
    font-size: 40px;
}

.profile > p {
    margin:30px 50px;
}

.profile > .profile-img {
    text-align: center;
}

.profile > .name {
    margin: 10px 0px;
    text-align:center;
}

.profile > h3 {
    text-align: center;
}

.profile > .cv {
    font-size: 20x;
    margin: 25px 0px;
    text-align: center;
    color: black;
}

.about > .about-wrapper >  .details > .personal-info {
    display: flex;
    justify-content: flex-start;
}

.personal-info > .num {
    margin: 5px 0px;

}
.personal-info > .yrs {
    margin: 5px 0px;

    margin-left: 200px;
}
.personal-info > .loc {
    margin: 5px 0px;
    margin-left: 130px;
}

.about > .about-wrapper > .details {
    flex: 1;
    margin-right: 100px;
    margin-top: 80px;
}

.about > .about-wrapper > .details > .line {
    background-color:rgb(220, 217, 217);
    width: auto;
    height: 2px;
    margin: 20px 0px;
}

.num-of-exp {
    display: flex;
    align-items: center;
}

.yrs-of-exp {
    flex: 1;
    text-align: center;
    font-size: 20px;
    margin: 15px 10px;
}

.no-of-clients {
    flex: 1;
    text-align: center;
    font-size: 20px;
    margin: 15px 10px;
}

.about > .about-wrapper > .details > .exp-info {
    display: flex;
}

.work-ex {
    flex:1;
    padding: 8px;
}

.num-client {
    flex:1;
    padding: 8px;
}

.about >.about-wrapper > .details > .qoute {
    margin: 40px 0px;
    text-align:center;
    width: 100%;
    background-color: black;
    font-size: 20px;
    padding:  25px 10px;
    color: white;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin: 60px auto;
    padding: 60px 80px;
    background-color: black;
    color: white;
}

.footer > .profile-exp {
    flex: 1;
    justify-content: center;
    align-items:center;
}

.footer > .profile-exp > h4 {
    margin: 10px 0px;
    margin-left: 0px;

}

.footer > .profile-exp > .my-exper {
    margin: 20x 0px;
    margin-left: 0px;
}

.footer > .profile-exp > p {
    margin: 10px 0px;
    margin-right: 100px;

}

.footer > .details {
    flex: 1;
}


.footer > .profile-exp .my-resume > a {
    background-color: white;
    text-decoration: none;
    font-size: 15px;
    margin-top: 80px;
    padding: 15px 20px;
    margin-left: 0px;
}

.footer > .details > .personal-info {
    display: flex;
    justify-content: space-between;
}

.personal-info > .yrs-time {
    margin: 10px 0px;
}

.personal-info > .place {

    margin: 10px 0px;
}

.footer > .details > h2 {
    font-size: 28px;
    margin: 10px 0px;
}

.footer > .details > .line {
    background-color: gray;
    height: 1px;
    width: 100%;
    margin: 20px 0px;
}





/*blog page css */


.blog-wrapper {
    margin: 40px auto;
    padding: 35px;
}

.blog-wrapper > h4 {
    margin: 5px auto;
    text-align: center;
}

.blog-wrapper > .heading > h1 {
    margin: 5px auto;
    text-align: center;
}

.blog-wrapper > .blogs-wrapper {
    display: flex;
}

.blogs-wrapper > .items {
    margin: 30px 10px 10px 10px;
    padding: 10px;
}

.blogs-wrapper > .items > img {
    width: 250px;
}

.blogs-wrapper > .items > h4 {
    margin: 5px;
    font-size: 12px;
}

.blogs-wrapper > .items > h3 {
    margin: 10px 0px;
    width: 70%;
    font-size: 18px;
}

.blogs-wrapper > .items > .line {
    background-color:gray;
    height: 1px;
    width: 90%;
}

.blog-wrapper > .container > .load  {
    text-align: center;
    padding: 10px 25px;
    background-color: black;
    color: white;
    text-decoration: none;
}

.blog-wrapper > .container{
    width: 100%;
    margin: 50px 0px;
    text-align: center;
}



/*work css */


.work-wrapper {
    margin: 40px ;
    padding: 35px 40px;
}

.work-wrapper > h4 {
    margin: 10px 0px;
}

.work-wrapper > .heading > h1 {
    margin: 10px 0px;
}


.work-wrapper > .container > .load  {
    text-align: center;
    padding: 10px 25px;
    background-color: black;
    color: white;
    text-decoration: none;
}

.work-wrapper > .container{
    width: 100%;
    margin: 50px 0px;
    text-align: center;
}

.work-wrapper > .products {
    display: flex;
    flex-wrap: wrap;
}


.work-wrapper > .products > .product-container {
    display: flex;
    width: 50%;
    margin: 20px 0px;
}

.work-wrapper > .products > .product-container > .text {
    flex:1;
    width: 35%;
}
.work-wrapper >  .products >
.product-container > .img {
    width: 65%;
}

.text > h5 {
    margin: 5px 0px;
}

.text > h2 {
    margin: 15px 0px;
}


/*testimonial */


.testimonial {
    margin: 20px 40px ;
    padding: 20px 40px;
}

.testimonial > h1 {
    text-align: center;
    font-size: 50px;
    align-items: center;
}

.testimonial > p {
    text-align: center;
    line-height: 25px;
    margin: 20px 100px 50px 100px;
    padding: 0px 100px;

}

.people-review {
    display: flex;
    margin: 20px;

}

.people-review > .review-1 {
    display: flex;

    background-color:#eaebeb;
    border-radius: 10px;
    padding: 30px 20px;
}

.people-review > .review-1 > .image { display: inline-block; position: relative; width: 200px; height: 200px; overflow: hidden; border-radius: 50%; margin: 20px; } .image img { width: auto; height: 100%; margin-left: -50px;
}



.people-review > .review-1 > .content {
    font-size: 18px;
    text-align: justify;
    margin: 10px 10px;
    width: 60%;
}
.people-review > .review-1 > .content > h2 {
    font-size: 20px;
    margin: 20px 0px;
}

.people-review > .review-1 > .content > .div {
    font-size: 18px;
}

.testimonial .scroll {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 50px 0px;

}

.scroll .line {
    width: 40px;
    height: 10px;
    border-radius: 5px;
    background-color:#eaebeb;
    margin: 0px 8px;
}

.scroll .line:hover {
    background-color: #fc6f01;
}


